mixin background-particles(image_var, image_var2)
	//- image_filled = "img/particles/Triangle_Filled.png"
	//- image_normal = "img/particles/Triangle_Normal.png"
	//- image_border = "img/particles/Triangle_Border.png"
	// parallax bacground
	.items
		#js-scene.items_inner
			// first image
			.items__layer.layer.layer-1(data-depth='1.35')
				.items__item(data-title='no.2 item-1')
					img.items__item.img-1(src= image_var)
			// second image
			.items__layer.layer.layer-2(data-depth='0.70')
				.items__item(data-title='no.2 item-2')
					img.items__item.img-2(src=image_var2)
			// third image
			.items__layer.layer.layer-3(data-depth='2.65')
				.items__item(data-title='no.3 item-3')
					img.items__item.img-3(src=image_var2)
			// fourth image
			.items__layer.layer.layer-4(data-depth='1.20')
				.items__item(data-title='no.4 item-4')
					img.items__item.img-4(src=image_var2)
			// fifth image
			.items__layer.layer.layer-5(data-depth='0.65')
				.items__item(data-title='no.3 item-3')
					img.items__item.img-5(src=image_var2)
			// sixth image
			.items__layer.layer.layer-6(data-depth='1.85')
				.items__item(data-title='no.3 item-6')
					img.items__item.img-6(src=image_var2)
			// seventh image
			.items__layer.layer.layer-7(data-depth='0.05')
				.items__item(data-title='no.3 item-7')
					img.items__item.img-7(src=image_var2)
			// eight image
			.items__layer.layer.layer-8(data-depth='0.25')
				.items__item(data-title='no.3 item-8')
					img.items__item.img-8(src=image_var2)
			// ninth image
			.items__layer.layer.layer-9(data-depth='1.75')
				.items__item(data-title='no.3 item-9')
					img.items__item.img-9(src=image_var2)